@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-main {
  min-height: calc(100vh - 5em);
}
@media screen and (min-width: 768px) {
  .nav-main {
    min-height: auto;
  }
}

.h-min-nav{
  min-height: calc(100vh - 5rem)
}

.content-area{
  @apply px-4 md:px-20 lg:px-32 xl:px-40
}
